body,
input,
button {
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
    min-height: 100%;
}
body{
    background-color: #fafafa;
    padding-top: 90px;
}
.header{
    background-color: black;
    height: 90px;
}

.nav-wrapper ul li:hover{
    background-color:blueviolet;
}
.img:hover{
    transform: scale(1.2); 
   
}

.img{
    transition: 0.5s ease all;
}

.img1:hover{
    border-radius: 100%;
    transform: scale(1.2); 
    box-shadow: 0 2px 8px rgb(113,8,185);
}
.img1{
    transition: 0.4s ease all;
}

.img2:hover{
    border-radius: 100%;
    transform: scale(1.2); 
    box-shadow: 0 2px 8px rgb(19,198,191);
}

.img2{
    transition: 0.4s ease all;
}


@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.color-text{
    color:blueviolet;
}

h1{
    font-size: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 16px;
    
}

h4{
    font-size: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

@media screen and (min-width: 900px) {
    .section1{
        background-position: bottom; 
        background-size: 100%;
        background-repeat: no-repeat;
        height: 800px;
        width: 100%; 
    }
    .conteudo1{
       display: flex; 
       align-items:center; 
       padding-left: 16px; 
       padding-bottom: 0; 
       padding-top: 0;
    }
    body{
        padding-top: 90px;
    }

    .section2{
        background-position: bottom; 
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .section3{
        background-position: top; 
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .section4{
        background-position: top; 
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

  }
